target/
*.class

# IDE settings
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.factorypath
.apt_generated/
.springBeans
nbproject/
nbactions.xml
nb-configuration.xml
*.swp
*~
.DS_Store
